<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @only_layout_fluid.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @only_layout_fluid.age %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @only_layout_fluid.qualification %>
</p>

<p>
  <strong>Description:</strong>
  <%= @only_layout_fluid.description %>
</p>

<%= link_to 'Edit', edit_only_layout_fluid_path(@only_layout_fluid) %> |
<%= link_to 'Back', only_layout_fluids_path %>
